@model IEnumerable<ExercicioCrud.Models.Department>
<br />
@{
    ViewData["Title"] = "Departamento";
}

<h2>Departamentos</h2>
<br />
<p>
    <a asp-action="Create" class="btn btn-secondary">Novo</a>
</p>
<table class="table table-striped table-hover">
    <thead>
        <tr class="btn-primary">
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
